<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="">Goo<small class="italics">(gle)</small> Dash<small class="italics">(board)</small></h5>
        <p class="text-lighten-4">A consolidated list of Google Dashboards and Products, for easier access.</p>
      </div>
      <!-- <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="teal-text text-lighten-3" href="#!">Add a missing link</a></li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="footer-copyright black--text">
    <div class="container">
      <small class="black-text">Disclaimer: This website is <strong>NOT</strong> built by Google, but is built by two developers who had trouble remebering the names and links to the <strong>MANY</strong> different Google Dashboards and Platforms ;)</small>
    </div>
  </div>
</footer>
