.italics{
  font-style: italic;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-variant: normal;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
}

h3 {
  font-size: 14px;
  line-height: 15.4px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

blockquote {
  font-size: 21px;
  line-height: 30px;
}

pre {
  font-size: 13px;
  line-height: 18.5714px;
}
