.link-wrapper {
  min-height: 25vh !important;
  cursor: pointer;
  border: 1px solid #f3f3f3;
  padding-top: 60px !important;
}

.link-image {
  max-width: 75%;
  max-height: 50px;
}

.link-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
